<div class="camera-buttons">
	<button id="cam0">cam0</button>
	<button id="cam1">cam1</button>
	<button id="cam2">cam2</button>
	<button id="cam3">cam3</button>
	<button id="cam4">cam4</button>
	<button id="cam5">cam5</button>
</div>
<div id="row1" class="camera-row"> </div>
</div>
<div id="row2" class="camera-row"> </div>
<script type="text/javascript" src="js/cameras.js"></script>