<!DOCTYPE html>
<html>

<head>
    <title>Team Vyadh GCS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="icon" href="img/favicon.ico">
    {{#if style}}
    <link rel="stylesheet" type="text/css" href="css/{{style}}.css">
    {{/if}}
</head>

<body>
    <div id="titlebar" class="flex-center">
        <img src="img/vyadh_logo.png" alt="Team Vyadh" style="min-height: 3em; height: 3vw;">
        <img src="img/seds_logo.png" alt="SEDS VIT" style="min-height: 3em; height: 3.5vw;">
        <span id="GCS">GCS</span>
        <nav class="flex-center">
            <a href="/controls" class="border{{#if current_page.controls}} current-page{{/if}}">CONTROL CENTER</a>
            <a href="/cameras" class="border{{#if current_page.cameras}} current-page{{/if}}">CAMERA FEEDS</a>
            <a href="/autonomous" class="border{{#if current_page.autonomous}} current-page{{/if}}">AUTONOMOUS
                TRAVERSAL</a>
            <a href="/science" class="border{{#if current_page.science}} current-page{{/if}}">SCIENCE CENTER</a>
        </nav>
    </div>
    {{{body}}}
    {{!--If you feel like you've made a significant contribution to this codebase, you may do anything with this tag ;)--}}
    <div id="signature">DashwoodIce9</div>
</body>

</html>